/********* Elements *********/
body {
    font-family: Arial, sans-serif;
    background-image: url('images/background4.jpg');
    background-size: cover;
}

h4{
    text-align:center;
    text-decoration: underline;
}

a{
    color: #000000;
}

/********* IDs *********/
#category-title{
    text-align: center;
    color: black;
    padding-bottom: 16px;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
}

/********* Classes *********/

.card {
    border: 2px solid #000000;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    height: 100%;
}
 
.images{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  
}

.header{
    background-color: #F4DADA ;
    border-bottom: 5px solid black;
    padding: 16px;
}

.navbar-brand{
    padding-left: 150px;
    padding-right:150px;
    border-radius: 25px;
    background-color: #DBE9B7;
    border: 2px solid #000000;
    color: #000000;
}

.footer{
    width: 100%;
    background-color: #F4DADA ;
    margin-top: 4rem;
    border-top: 5px solid black;
}

.bottom-info {
    padding: 4rem 0 4rem;
}

.bottom{
    background-color: #DBE9B7;
    text-align: center;
    padding-bottom: 25px;
    border-top: 3px solid black;
}

.bottom-cards{
    border-radius: 10%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.col{
    background-color: #B8B2A6;
    padding-bottom: 20px;
    border: 3px solid #000000;
    
}