#category-title{
    text-align: center;
    color: black;
    padding-bottom: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/background4.jpg');
    background-size: cover;
    /* margin: 20px; */
}
  
#products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}


.card {
    border: 2px solid #000000;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card{
    height: 100%;
}
 
.images{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  
}

.header{
    background-color: #F4DADA ;
    border-bottom: 5px solid black;
    padding: 16px;
}

.navbar-brand{
    padding-left: 150px;
    padding-right:150px;
    border-radius: 25px;
    background-color: #DBE9B7;
    border: 2px solid #000000;
    color: #000000;
}