/********* Elements *********/
body {
    font-family: Arial, sans-serif;
    background-image: url('images/background1.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    
}

h4{
    text-align:center;
    text-decoration: underline;
}

a{
    color: #000000;
}

/********* Classes *********/

.header {
    background-color: #F4DADA ;
    padding: 0 0 3rem;
    border-bottom: 5px solid black;
    
}

.icon-bar {
    background-color: #DBE9B7;
    border-radius: 25px;
    border: 2px solid #000000;
    text-align: center;
    padding: 12px 0;
    color: black;
    font-size: 20px;
    
  }

.navbar-brand{
    padding-left: 150px;
    padding-right:150px;
    border-radius: 25px;
    background-color: #DBE9B7;
    border: 2px solid #000000;
}

.categories {
    margin-top: 14rem;
    text-align: center;
}

.col{
    background-color: #B8B2A6;
    padding-bottom: 20px;
    border: 3px solid #000000;
 
}

.footer{
    width: 100%;
    background-color: #F4DADA ;
    margin-top: 4rem;
    border-top: 5px solid black;
}

.bottom-info {
    padding: 4rem 0 4rem;
}

.bottom{
    background-color: #DBE9B7;
    text-align: center;
    padding-bottom: 25px;
    border-top: 3px solid black;
}

.categories h1 {
    background-color: #B8B2A6;
    border-radius: 25px;
    width: 25%;
    margin:25px 39%;
}

.categoriesImagessmall{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.categoriesImagesMedium{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.categoriesImageslarge{
    width: 450px;
    height: 300px;
    border-radius: 10%;
}

.row{
    margin-bottom: 15px;
}

.cat{
    border-radius: 10%;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.bottom-cards{
    border-radius: 10%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.tables{
    background-color: #DBE9B7;
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
    padding: .5rem .5rem;
    border-bottom-width: var;
    border-style: solid;
}

.stock{
    padding-top: 10%;
}

/********* IDs and size specific *********/

#stock-items{
    border: 2px solid black;
}

@media (max-width: 950px) {
    .stock{
    padding-top: 45%;
    }
}
